* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--text-color);
}

html {
	scroll-behavior: smooth;
}

html, body {
	background: var(--bg1);
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	overflow-y: hidden;
}

body {
	font-size: 10px;
	display: flex;
	flex-flow: column;
}

code {
	font-family: monospace;
	background: var(--bg1);
	border-radius: 3px;
	padding: 0.3rem;
	font-size: 1rem;
	display: inline-block;
	overflow-x: auto;
}

.anchor {
	color: var(--medium-contrast-text);
}

ul {
	margin: 0.5rem;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 0.5rem;
}

hr {
	border: 1px solid var(--bg1);
}

/*max-width: 1200px*/
@media screen and (max-width: 1200px) {

	body {
		font-size: 30px !important;
		overflow-y: scroll;
	}

	#basic-docs-header {
		flex-flow: column !important;
	}

	#basic-docs-content-wrapper {
		font-size: 3rem !important;
		flex-flow: column;
		height: unset !important;
	}

	.basic-docs-page {
		font-size: 3rem !important;
	}

	code {
		font-size: 2rem;
		display: block;
	}

	p code {
		display: inline-block;
	}

	#basic-docs-search-wrapper {
		margin-bottom: unset;
	}

	#basic-docs-search {
		font-size: 4rem;
		height: 5rem !important;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}

	#basic-docs-main {
		overflow-y: hidden !important;
	}

	#basic-docs-contrast-label {
		font-size: 2rem !important;
		margin-bottom: 0.75rem;	
	}

	.basic-docs-slider {
		width: 4rem !important;
		padding: 0.4rem !important;
	}
	
	.basic-docs-slider-knob {
		width: 2rem !important;
		height: 2rem !important;
	}
	
	.basic-docs-slider-ref:checked + .basic-docs-slider > .basic-docs-slider-knob {
		transform: translateX(2rem) !important;
	}

	#basic-docs-footer-mobile {
		display: flex !important;
		font-size: 1.5rem !important;
		padding-top: 5rem !important;
		padding-bottom: 5rem !important;
	}

	#basic-docs-footer {
		display: none !important;
	}
}

#basic-docs-header {
	padding: 1.1rem;
	display: flex;
	flex-flow: row;
	align-items: center;
}

#basic-docs-head-wrapper {
	flex-grow: 1;
}

#basic-docs-contrast-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-right: 3rem;
}

#basic-docs-contrast-label {
	font-size: 1rem;
	margin-bottom: 0.75rem;	
}

.basic-docs-slider-ref {
	display: none;
}

.basic-docs-slider {
	background: gray;
	width: 2rem;
	display: inline-block;
	border-radius: 100px;
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 0.2rem;
}

.basic-docs-slider-knob {
	background: #222;
	border-radius: 100px;
	color: grey;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	transition: 0.25s;
}

.basic-docs-slider-ref:checked + .basic-docs-slider > .basic-docs-slider-knob {
	transform: translateX(1rem);
	background: rgb(255, 250, 179);
}

#basic-docs-search-wrapper {
	display: flex;
	padding: 1.1rem;
	justify-content: center;
	align-items: center;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	background: var(--bg4);
	margin-bottom: 1rem;
}

#basic-docs-search {
	height: 2.5rem;
	min-width: 15rem;
	border-radius: 10rem;
	border: 1px var(--text-color);
	color: black;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#basic-docs-content-wrapper {
	flex-grow: 1;
	display: flex;
	font-size: 1.1rem;
	height: 85%;
}

#basic-docs-nav {
	background: var(--bg2);
	min-width: 20rem;
	display: flex;
	flex-flow: column;
}

#basic-docs-nav > * {
	padding-left: 1.1rem;
	padding-right: 1.1rem;
}

#basic-docs-main {
	flex-grow: 1;
	background: var(--bg3);
	padding: 1.5rem;
	overflow-y: auto;
}

li {
	list-style: none;
}

#basic-docs-nav-items {
	flex-grow: 1;
	padding-bottom: 1rem;
}

.basic-docs-nav-link {
	text-decoration: none;
	font-weight: 700;
}

.basic-docs-nav-link-nested {
	font-weight: 100;
}

#basic-docs-footer, #basic-docs-footer-mobile {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: var(--bg1);
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--low-contrast-text);
}

#basic-docs-footer-mobile {
	display: none;
}

#basic-docs-scroll-top {
	background: var(--bg1);
	width: 5rem;
	height: 5rem;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 5rem;
	right: 5rem;
	font-size: 3rem;
	border-radius: 200rem;
}

#basic-docs-scroll-top > a{
	text-decoration: none;
}